.input-field-group {
  position: relative;
  display: flex;
}

.input-field-group svg {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(86, 160, 209);
  pointer-events: none;
}

.input-field-group .input:invalid[data-focused="true"] {
  border: 2px solid rgb(122, 7, 7);
}

.input-field-group:has(.input:invalid[data-focused="true"]) ~ .error-message {
  display: block;
}

.input:invalid[data-focused="true"] ~ .error-message {
  display: block;
}

.icon-success, .icon-error {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: none; 
  pointer-events: none;
}

.input:valid[data-focused="true"] ~ .icon-success {
  display: block;
  color:  rgb(86, 160, 209);; /* Green */
}

.input:invalid[data-focused="true"] ~ .icon-error {
  display: block;
  color: rgb(122, 7, 7); /* Red to match your border */
}

.input:invalid[data-focused="true"] ~ .icon-success {
  display: none;
}

.input{
  height: 45px;
  border-radius: 10px;
  border: none;
  padding-left: 8px;
  background-color: rgba(57, 57, 57, 0.414);
  color: white;
  border: 2px solid transparent;
  transition: 0.2s ease;
}

.input-container label{
  color: white;
}

.input:focus{
  outline: none;
  border: 2px solid rgb(101, 182, 233);
}

.input-container{
  position: relative;
}

.input-container svg{
  position: absolute;
  right: 10px;
  color: rgb(86, 160, 209);
  top: 50%;
  transform: translateY(-50%);
}

.error-message{
  color: red !important;
  display: none;
}

.input-container input:invalid[data-focused="true"] ~ .error-message{
  display: block;
}

.input-container input:invalid[data-focused="true"]{
  border: 2px solid rgb(122, 7, 7);
}