.hamburger-menu{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.3s ease;
  z-index: 5;
}

.hamburger-menu:hover{
  background-color: rgb(85, 161, 209);
  box-shadow: 0 0 10px rgba(85, 162, 209, 0.747);
}

.hamburger-menu svg{
  color: white;
}