.interest{
  /* border: 1px solid rgba(83, 83, 83, 0.301); */
  border-radius: 30px;
  padding: 5px 10px;
  display: grid;
  justify-items: center;
  gap: 10px;
  white-space: nowrap;
  transition: 0.3s ease;
}

.interest:hover{
  transform: translateY(-1px);
}

.interest svg{
  font-size: 30px;
  color: rgb(50, 132, 209);
}

.interest span{
  font-size: 15px;
  color: rgb(0, 0, 0);
}