.toast{
  position: fixed;
  background-color: white;
  top: 20px;
  right: 20px;
  z-index: 9999999;
  min-height: 100px;
  width: 500px;
  border-radius: 10px;
  background-color: rgb(11, 17, 28);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 30px 25px 30px;

  animation: 
    slideIn 0.3s ease-out, 
    fadeOut 0.3s ease-in 4.7s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(-20px); }
}

.toast-content{
  display: flex;
  align-items: center;
  gap: 20px;
}

.toast-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: rgb(86, 160, 209); /* Green for success */
  width: 100%; 
  /* This starts the animation as soon as the component mounts */
  animation: drain 5s linear forwards;
}

#toast-checkmark{
  font-size: 35px;
  color: rgb(86, 160, 209);
}

#toast-x{
  font-size: 12px;
  position: absolute;
  right: 15px;
  top: 15px;
  color: rgb(220, 218, 218);
  cursor: pointer;
}

#toast-x:hover{
  color: white;
}

@keyframes drain {
  from { width: 100%; }
  to { width: 0%; }
}