#my-work-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 200;
  overflow: visible; 
  background-color: transparent;
  padding: var(--section-padding) 0 var(--section-padding) 0;
}

#my-work-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-5.6deg);
  transform-origin: top left;
  z-index: -1;
}

.my-work{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 90%;
  gap: 40px;
  max-width: 80rem;
  z-index: 3;
}

@media (max-width: 1000px) {
  .my-work {
    max-width: 90%;
  }
}

.projects{
  display: grid;
  gap: 20px;
}

.my-work h3{
  color: black;
}



.grid-cell span{
  height: 20px;
}

/* Randomly color some cells or do it on hover */
.grid-cell:hover {
  /* background-color: #00ff00; Neon highlight on hover */
}

.my-work h2{
  color: black;
}
.my-work p{
  color: rgb(0, 0, 0);
}

.project{
  display: grid;
  gap: 20px;
  width: 100%;
  border-radius: 20px;
}

.project.left{
  grid-template-columns: 1fr 400px;
}

.project.right{
  grid-template-columns: 400px 1fr;
}

.project-headline{
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-headline img{
  width: 25px;
}

.project-headline span{
  font-weight: 700;
}

.project video{
  border-radius: 20px;
  width: 100%;
  /* min-height: 75vh; */
  object-fit: cover;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.178);
}

.project-information{
  /* background: linear-gradient(rgb(0, 0, 0), rgb(26, 26, 26)); */
  border-radius: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background: linear-gradient(rgb(31, 49, 66), rgb(16, 27, 37)) */
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.137);
}

.projet-information svg{
  background-color: black;
}

.project-information span{
  color: rgb(0, 0, 0);
}

.project-information p{
  color: rgb(84, 84, 84);
}

@media (max-width: 1000px) {
  .project.left,
  .project.right{
    grid-template-columns: 1fr;
  }
}

.navigation{
  display: flex;
  align-items: center;
  gap: 10px;
}