.about-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--section-padding) 0 var(--section-padding) 0;
  background-color: rgba(243, 243, 243, 0.466);
  position: relative;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 90%;
  max-width: 80rem;

  position: relative;
}

.about h2{
  padding-left: 50px;
  color: black;
}

.about__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;

  gap: 100px;
}

@media (max-width: 1000px) {
  .about__content{
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

.about__images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 350px;
  gap: 20px;

  opacity: 0;
  transform: translateX(100px); 
  
  transition: opacity 1.2s cubic-bezier(0.22, 1, 0.36, 1), 
              transform 1.2s cubic-bezier(0.22, 1, 0.36, 1);
  
  will-change: transform, opacity;
}

.about__images.show{
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 880px) {
  .about__images{
    transform: translateY(40px);
  }

  .about__images.show {
    transform: translateY(0px);
  }
}

@media (max-width: 600px) {
  .about__images{
    grid-template-columns: 1fr 1fr;
  }
}

@media ((min-width: 1000px) and (max-width: 1200px)) {
  .about__images{
    grid-template-columns: 1fr 1fr;
  }
}


.about__images .image-container__wrapper:nth-of-type(1){
  height: 60%;
}

.about__images .image-container__wrapper:nth-of-type(2){
  height: 100%;
}

.about__images .image-container__wrapper:nth-of-type(3){
  height: 80%;
}