.back-to-top{
  position: fixed;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10000;
}

.back-to-top svg{
  color: rgb(85, 161, 209);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 10px rgba(85, 162, 209, 0.747);
}

.back-to-top:hover {
  background-color: rgb(105, 181, 229); /* Slightly lighter blue */
}

.back-to-top.hide{
  visibility: hidden;
}