.component-headline-h2-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.component-headline-h2-container img {
position: absolute;
  left: 0;
  height: 80px;
  left: -20px;
  bottom: -50px; /* Adjust this to move it closer/further from text */
  width: 110%; /* Makes it slightly wider than the text for style */
  /* height: auto; */
  
  /* THE COLOR MAGIC: Turn black to Blue */
  /* Shift original image 1000px away, pull blue shadow back 1000px */
  filter: drop-shadow(0px 1000px 0px rgb(77, 159, 210));
  transform: translateY(-1000px);
  
  pointer-events: none; /* Text remains clickable */
  z-index: -1;
}

.component-headline{
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 20px;
  max-width: 80rem;
}

.component-headline p{
  color: rgb(68, 68, 68);
}