.navigation{
  display: grid;
  gap: 10px;
}

.navigation-buttons{
  display: flex;
  gap: 10px;
}

.navigation-buttons button{
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px 12px 10px 12px;
  border-radius: 30px;
  border: 1px solid rgba(90, 89, 89, 0.082);
  color: white;
  background: none;
  cursor: pointer;
}

.navigation-buttons button svg{
  font-size: 15px;
  color: black;
}

.navigation-buttons button span{
  font-size: 14px;
}