.project {
  display: grid;
  gap: 40px;
  width: 100%;
  padding: 30px;
  
  border: 1.5px solid transparent;
  border-radius: 20px;

  box-shadow: 0px 0px 30px rgba(95, 95, 95, 0.25);

  opacity: 0;
  transition: all 1.2s cubic-bezier(0.22, 1, 0.36, 1);
}

.project.left{
  transform: translateX(-50px) translateY(40px);
  grid-template-columns: 1fr 400px;
}

.project.right{
  transform: translateX(50px) translateY(40px);
  grid-template-columns: 400px 1fr;
}

.project.show{
  opacity: 1;
  transform: translateX(0px) translateY(0px);
}

@media (max-width: 880px) {
  .project.left,
  .project.right{
    transform: translateY(40px);
  }

  .project.show {
    transform: translateY(0);
    opacity: 1;
  }
}


@media (max-width: 700px) {
  .project{
    padding: 15px;
    gap: 25px;
  }
}



/* Headline */
.project__headline{
  display: flex;
  align-items: center;
  gap: 10px;
}

.project__headline img{
  width: 25px;
}

.project__headline span{
  font-weight: 700;
}

/* Information */
.project__information{
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navigation{
  display: flex;
  gap: 10px;
}

@media (max-width: 1000px) {
  .project.left,
  .project.right{
    grid-template-columns: 1fr;
  }
}